$accentuatingColor:black;
$neutralColor:rgb(236, 234, 234);

$primarycolor : blue;
$secondarycolor: green;
$primarytextColor:rgb(115, 115, 187);
$secondaryTextColor:rgb(144, 212, 144);
$headerBgColor:rgb(31, 31, 80);
$logoprimaryTextSize:3rem;
$primaryTextSize:2rem;
// $primaryTextSize:5rem;
$logosecondaryTextSize:2rem;
$secondaryTextSize:1.5rem;
$btnRadius: 0.5em;
$hoverColor:white;
$hoverBgColor:black;